/* good default vite styles */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: dark;
	background-color: black;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* vars */
:root {
	--primary: #f6c844;
	--selected: #b99333;
}

/* box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box
}

/* remove default padding */
ul,
ol {
	padding: 0;
}

/* remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

button {
	all: unset;
}

/* good default vite styles */
a, button {
	font-weight: 500;
	color: var(--primary);
	text-decoration: inherit;
	cursor: pointer;
}
a:hover, button:hover {
	color: var(--selected)
}

/* set core body defaults */
body {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

/* remove list styles on ul, ol elements with a class attribute */
ul,
ol {
	list-style: none;
}

/* make images easier to work with */
img {
	max-width: 100%;
	display: block;
}
