:root {
	--document: #000;
	--secondary: #393a3a;
	--primary: #f6c844;
	--selected: #b99333;
	--typography-common: #f5f5f7;
	--typography-secondary: #a1a1a6;

	--x: .6em;
	--y: .3em;
	--safe-x: calc(var(--x) * 3);
	--safe-y: calc(var(--y) * 4);
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: dark;
	color: var(--typography-secondary);
	background-color: var(--document);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--typography-common);
	font-weight: 500;
}

a {
	font-weight: 500;
	color: var(--primary);
	text-decoration: inherit;
	cursor: pointer;
}
a:hover {
	color: var(--selected)
}

input,
textarea {
	all: unset;
	box-sizing: border-box;
	display: inline-flex;
	position: relative;
	background-color: var(--secondary);
	border-radius: var(--x);
	padding: var(--y) var(--x);
	color: var(--typography-common);
	width: 100%;
}
input:focus,
textarea:focus {
	box-shadow: 0 0 0 var(--y) var(--selected);
	z-index: 1;
}
input::placeholder {
	color: var(--typography-secondary);
}

button {
	all: unset;
	box-sizing: border-box;
	color: var(--primary);
	cursor: pointer;
	display: inline-flex;
	font-weight: 500;
}
button:hover {
	color: var(--selected)
}

body {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

img {
	max-width: 100%;
	display: inline-flex;
}
